.horizontal {
    border: 1px solid burlywood;
    display: flex;
    height: 50px;
    margin: 16px;
    align-items: center;
    justify-content: space-around;
}

.vertical {
    border: 1px solid burlywood;
    display: flex;
    height: 200px;
    margin: 16px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.horizontal span {
    font-size: 24px;
    background-color: aqua;
}

.vertical span {
    font-size: 24px;
    background-color: coral;
}