* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    color: white;
    background-image: linear-gradient(60deg, red, orange);
    text-align: center;
}

.main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
}

.navigation {
    padding: 0.5em;
}

.section {
    padding: 0.5em;
    font-size: 1.25em;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    background-color: #e5e5e5;
    color: #8b0000;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.news {
    padding: 0.5em;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list-item {
    line-height: 2em;
    background-color: #808080;
    margin-bottom: 0.5em;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-list-link {
    color: white;
    text-decoration: none;
    padding: 0 0.5em;
}

.container {
    display: flex;
}

picture {
    margin: auto;
}

img {
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 599px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    .navigation {
        flex: 1;
        min-width: 0;
    }
    .section {
        flex: 4;
    }
    .news {
        flex: 1 1 100%;
    }
}

@media screen and (min-width: 1200px) {
    .navigation {
        flex: 1;
    }
    .section {
        flex: 3;
    }
    .news {
        flex: 1;
    }
}